<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.barunsw.ojt.common.RmiAddressBookInterface">

	<!-- 전체 목록 조회 -->	
	<select id="selectAddressList"
        parameterType="AddressVo"
        resultType="AddressVo">
	    SELECT seq, name, gender, age, phone, address
	    FROM TB_ADDRESSBOOK
	    WHERE 1 = 1
    
	    <if test="searchType != null and searchType.name() == 'LETTER' and searchWord != null">
	        AND LEFT(NAME, 1) REGEXP
            CASE #{searchWord}
                WHEN 'ㄱ' THEN '^[가-깋]'  
                WHEN 'ㄴ' THEN '^[나-닣]' 
                WHEN 'ㄷ' THEN '^[다-딯]' 
                WHEN 'ㄹ' THEN '^[라-맇]'
                WHEN 'ㅁ' THEN '^[마-밓]'
                WHEN 'ㅂ' THEN '^[바-빟]'
                WHEN 'ㅅ' THEN '^[사-싷]'
                WHEN 'ㅇ' THEN '^[아-잏]'
                WHEN 'ㅈ' THEN '^[자-짛]'
                WHEN 'ㅊ' THEN '^[차-칳]'
                WHEN 'ㅋ' THEN '^[카-킿]'
                WHEN 'ㅌ' THEN '^[타-팋]'
                WHEN 'ㅍ' THEN '^[파-핗]'
                WHEN 'ㅎ' THEN '^[하-힣]'
            END
	    </if>
	</select>

	<!-- 새 레코드 INSERT -->
	<insert id="insertAddress"
		parameterType="AddressVo">
		INSERT INTO TB_ADDRESSBOOK
		(name, gender, age, phone, address)
		VALUES
		(#{name}, #{gender}, #{age}, #{phone}, #{address})
	</insert>

	<!-- 기존 레코드 UPDATE -->
	<update id="updateAddress"
		parameterType="AddressVo">
		UPDATE TB_ADDRESSBOOK
		SET name = #{name}, gender = #{gender}, age = #{age}, phone = #{phone}, address = #{address}
		WHERE seq = #{seq}
	</update>

	<!-- 기존 레코드 DELETE -->
	<delete id="deleteAddress"
		parameterType="AddressVo">
		DELETE FROM TB_ADDRESSBOOK
		WHERE seq = #{seq}
	</delete>
</mapper>
