<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.barunsw.ojt.iwkim.common.AddressBookInterface">
 	<select id="selectList" resultType="PersonVO">
 		SELECT * FROM address_book
 	</select>
 	
 	<insert id="insertPerson" parameterType="PersonVO">
 		INSERT INTO address_book (
			name
 			, age
 			, gender
 			, phone
 			, address
 		)
 		VALUES(
 			#{name}
 			, #{age}
 			, #{gender}
 			, #{phone}
 			, #{address}
 		)
 	</insert>
 	
 	<update id="updatePerson" parameterType="PersonVO">
 		UPDATE 
 			address_book 
 		SET 
 			age = #{age}
 			, gender=#{gender}
 			, phone=#{phone}
 			, address=#{address}
 		WHERE 
 			name=#{name} 
 	</update>
 	
 	<delete id="deletePerson" parameterType="String">
 		DELETE FROM 
 			address_book 
 		WHERE 
 			name = #{name}
 	</delete>
 </mapper> 